* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    flex-direction: column;
}

.coin {
    display: flex;
    width: 25rem;
    height: 6.25rem;
    border-radius: 0.5rem;
    background: #202022;
    transition: box-shadow .3s;
}

.coin .coin-logo {
    width: 6.25rem;
    height: 100%;
    display: grid;
    place-items: center;
}

.coin .coin-logo img {
    width: 70%;
    height: 70%;
}

.coin .coin-name {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.coin .coin-name h3 {
    color: #fff;
    font-size: 1.75rem;
    text-transform: capitalize;
}

.coin .coin-price {
    display: grid;
    align-items: center;
    margin-left: auto;
    padding: 0.2rem 1.375rem 0 0;
    text-align: right;
}

.coin .coin-price .price {
    font-size: 1.625rem;
    font-weight: 1000;
    color: #fff;
}

.coin .coin-price .change {
    color: #aaa;
    font-size: 1rem;
    font-weight: 800;
    margin-top: -2rem;
}

.coin.rising {
    background: linear-gradient(to right, #202022, #4eb64510);
}

.coin.rising .coin-price .change {
    color: #30ff20;
}

.coin.falling {
    background: linear-gradient(90deg, #202022, #aa444425);
}

.coin.falling .coin-price .change {
    color: #ff4040;
}

.main-container {
    width: 60rem;
    max-width: 95vw;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

h1 {
    font-size: 3rem;
    color: rgba(215, 194, 183, 0.579);
    margin-top: 1%;
}

.coin:hover {
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.8);
}

::selection {
    background-color: whitesmoke;
    color: #161616;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width:450px) {
    .coin {
        scale: .9;
    }
}

@media (max-width:400px) {
    .coin {
        scale: .8;
    }

    .container {
        gap: .33rem
    }

    .coin .coin-name h3 {
        font-size: 1.5rem;
    }

    .coin .coin-price .price {
        font-size: 1.25rem;
    }

    .coin .coin-price .change {
        font-size: .9rem;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 350px) {
    .container {
        gap: 0rem;
    }

    .coin .coin-logo img {
        scale: .9;
    }

    .coin .coin-name h3 {
        font-size: 1.3rem;
    }

    .coin .coin-price .price {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    .coin {
        scale: .7;
    }

    h1 {
        font-size: 2.25rem;
    }
}